html {
  width: 100%;
  height: 100%;
  background-image: url("/assets/cloudy-day.png");
  background-repeat: repeat;
  background-position: center;
  background-attachment: center fixed;
  background-size: cover;
}

body{
  margin: 50px;
  font-family: 'Roboto', sans-serif;
  color: #8E8E8E;
  font-size: 16px;
  background-image: url('../asset/cloudy-day.png');
  background-repeat: no-repeat;
}

#regText{
  text-align: center;
}

#register {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}


#login {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#nav{
  display: flex;
  justify-content: space-between;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: #8E8E8E dotted 1px;
  padding-bottom: 10px;
}
#title{
  font-family: 'Karla', sans-serif;
  color: #8E8E8E;
  font-size: 300%;
  font-weight: 800;
  padding-right: 100px;
  padding-top: 5px;
}

#intro{
  display: none;
  font-size: 75%;
  border-left: dotted 1px #8E8E8E;
  padding-left: 10px;
  padding-top: 5px;
  font-family: 'Roboto', sans-serif;
  height: 85px;
  width: 200px;
  overflow: hidden;
}

a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #FFC0D5;
  padding: 1px;
  font-size: 90%;
}

#banner{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  margin-right: 50px;
  height: 35vw;
  width: 80vw;
}

#content{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: #8E8E8E solid 1px;
  border-bottom: #8E8E8E 1px solid;
  .image{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .img{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

  }
}

#detailContent{
  display: flex;
  width: 600px;
  justify-content: space-between;

  #details{
    line-height: 20px;
    .author{
      font-size: 120%;
    }
    width: 600px;
    .previewImg{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    }
  }

    .thumbnail{
      line-height: 10px;
      padding-left: 200px;
      .author{
        font-size: 120%;
        padding-left: 100px;
      }
      .thumbnail_img{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
}

#preview{
  display:none;
}

#footer{
  padding-top: 10px;
  font-size: 60%;
  display: center;
  text-align: center;
}

@media screen and (min-width: 480px){
  #intro{
    display: block;
  }
  #title{
    font-size: 450%;
  }

  #header{
    padding-bottom: 80px;
  }

  #banner {
    width: 87vw;
  }

  #preview{
    display: flex;
  }
}

