<div id="header">
  <div id="title">_KKGallery</div>
  <div id="intro">Welcome to _KK Gallery, your window to the world.<br><br>_KK Gallery is a carefully curated gallery of breathtaking photos from all over the web. Share what inspires you, and discover your new favorite artist.</div>
</div>