<div id="header">
  <div id="title"><h1>_KKURATION </h1></div>
  <div id="intro">welkome to our skandiVian architekture firm with ultra minimalistik, modern design for your viewing pleasure. We are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.</div>
</div>