<div id="header">
  <div id="title"><h1>_KKURATION </h1></div>
  <div id="intro">welkome to our skandiVian architekture firm with ultra minimalistik, modern design for your viewing pleasure</div>
</div>