<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>_KKURATION</title>
  <link rel="stylesheet" href="/css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Karla|Roboto" rel="stylesheet">
</head>
<body>
  {{{body}}}
</body>
</html>