{{!-- EDIT --}}
{{> back}}
<h1 id="title">Edit Photo</h1>
<div id="editPhoto">
  <form action="/gallery/{{id}}?_method=put" method="post" enctype="application/x-www-form-urlencoded">
    Description: <br><textarea name="description" cols="80" rows="10">{{description}}</textarea><br><br>
    <input type="submit" value="Submit Changes">
  </form>

   <form action="/gallery/{{id}}?_method=delete" method="post" enctype="application/x-www-form-urlencoded">
    <input type="submit" value="Delete Photo">
  </form>
</div>