<div id="nav">
  <a href="/register">Register</a>
  <a href="/login">Log In</a>
  <a href="/logout">Log Out</a>
  <a href="/gallery/new">Upload New Image</a>
</div>



{{> header}}
<div id="banner" style="background-image: url(/assets/townbanner.jpg);"></div>
<div id="content">
  {{#each photos}}
  <div class="image">
    <a href ="/gallery/{{id}}"><div class="img" style="background-image: url({{link}}); height: 200px; width: 300px;"></div></a>
    <div class="author">by {{author}}</div>
  </div>
  <div class="middleLine"></div>
  <br>
  {{/each}}
</div>
{{> footer}}

