<div id="nav">
  <div><a href="/register">Register</a></div>
  <div><a href="/login">Log In</a></div>
  <div><a href="/logout">Log Out</a></div>
</div>
<br><br>
<div id="uploadNew">
   <div><a href="/gallery/new">Upload New Image</a></div>
</div>



{{> header}}
<div id="banner" style="background-image: url(/assets/townbanner.jpg);"></div>
<div id="content">
  {{#each photos}}
  <div class="image">
    <a href ="/gallery/{{id}}"><div class="img" style="background-image: url({{link}}); height: 200px; width: 300px;"></div></a>
    <div class="author">Posted by {{author}}</div>
  </div>
  <br>
  {{/each}}
</div>
{{> footer}}

