<div id="nav">
  <a href="/register">Register</a>
  <a href="/login">Login</a>
  <a href="/gallery/new">Upload New Image</a>
</div>



{{> header}}
<div id="banner" style="background-image: url(https://pixabay.com/get/e837b30a29fc073ed1534705fb0938c9bd22ffd41cb1194490f2c97ca6/natural-1225186_1920.jpg);"></div>
<div id="content">
  {{#each photos}}
  <div class="image">
    <a href ="/gallery/{{id}}"><div class="img" style="background-image: url({{link}}); height: 200px; width: 300px;"></div></a>
    <div class="author">{{author}}</div>
  {{!--   <div class="link">{{link}}</div> --}}
  </div>
  <br>
  {{/each}}
</div>

