<script>
  document.write('<a href="' + document.referrer + '">< Back</a>');
</script>
{{> header}}
<div id="login">
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password">
    <input type="submit"></input>
  </form>
</div>
