{{> back}}
<h1 id="title">Upload New Photo</h1>
<div id="content">
  <form action="../gallery" method="post">
    Link: <br><input type="text" name="link"><br><br>
    Description: <br><textarea name="description" cols="80" rows="10"></textarea><br><br>
    <input type="submit" value="submit">
  </form>
</div>