<script>
  document.write('<a href="' + document.referrer + '">< Back</a>');
</script>
{{> header}}
<div id="register">
 <form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password">
    <input type="submit"></input>
  </form>
</div>


