<script>
  document.write('<a href="' + document.referrer + '">< Back</a>');
</script>
<h1 id="title">Register New User</h1>
<h2 id="regText">Please register a new username and password.</h2>
<br>
<div id="register">
 <form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="password2" placeholder="confirm password">
    <input type="submit"></input>
  </form>
</div>


