body {
  margin: 150px;
  font-family: 'Roboto', sans-serif;
  color: #8E8E8E; }

#register {
  display: flex;
  justify-content: flex-end; }

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: #8E8E8E dotted 1px;
  padding-bottom: 80px; }
  #header #title {
    font-family: 'Karla', sans-serif;
    color: #8E8E8E;
    font-size: 70px;
    padding-right: 200px; }
  #header #intro {
    font-size: 12px;
    border-left: dotted 1px #8E8E8E;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    height: 75px; }

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #8E8E8E; }

#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px; }

#content {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  border-top: #8E8E8E solid 1px;
  border-bottom: #8E8E8E 1px solid; }
  #content .img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }

#detailContent {
  display: flex;
  width: 600px; }
  #detailContent #details {
    width: 600px; }
    #detailContent #details .previewImg {
      margin-top: 20px;
      margin-bottom: 40px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
  #detailContent #preview .thumbnail .thumbnail_img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
