@import "./settings";
@import "../../bower_components/foundation/scss/foundation";
@import url("http://fonts.googleapis.com/css?family=Oswald");

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



body {
  background-color: #FFFFFF;
  // background-image: url('/layout/images/seamless_paper_texture.png');
  text-align: center;
  .header {
    @media #{$small-up} { 
      margin-bottom: 100px;
    }
    img.add_icon {
        width: 30px;
        fill: #7E797F;
        position: absolute;
        top: 10px;
        right: 30px;
        }
    h1.logo {
      color: #7E797F;
      font-family: 'Oswald', sans-serif;
      font-size: 50px;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
    @media #{$large-up} { 
      margin: 30px;
      margin-top: 60px;
      img.add_icon:hover {
        opacity: 0.3;
      }
      h1.logo {
        padding-top: 15px;
        border-top: 2px solid #F1F1F1;
        text-align: left;
        margin-left: 100px;
        position: relative;
        text-transform: uppercase;
        color: #7E797F;
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        letter-spacing: 5px;
      }
      p {
        position: absolute;
        top: 10px;
        right: 240px;
        color: #C7C5BE;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-align: left;
        width: 15%;
        border-left: 2px solid #F1F1F1;
        padding-left: 10px;
      }
    }
  }
  #content {
    clear: both;
    @media #{$small-only} { 
      // width: 80%;
    }
    #featured_photo {
      // width: 50%;
      border-bottom: 2px solid #E6E6E6;
    }
    .thumbnail_photos {
      border-bottom: 2px solid #E6E6E6;
    }
    .img_wrapper {
      position: relative;
      margin: 10px;
      p.view_text {
        visibility: hidden;
        position: absolute;
        z-index: 10;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        color: #FFFFFF;
      }
      &:hover {
        img.view_img {
          box-shadow: 0 0 10px black;
          opacity: 0.3;
        }
        p.view_text {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    p.img_info {
      font-family: 'Oswald', sans-serif;
      font-size: 10px;
      color: #7E797F;
      text-align: left;
      margin-top: 10px;
    }
    // show.jade
    .img_options {
      clear: both;
      width: 350px;
      margin-left: auto;
      margin-right: auto;
      img.edit_icon {
        width: 30px;
        fill: #7E797F;
        float: left;
        display: inline;
        box-sizing: border-box;
        margin-left: 35%;
      }
      button.delete_icon {
        background-image: url('/layout/svg/delete.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%; 
        background-color: #FFFFFF;
        border: none;
        width: 10px;
        height: 10px;
        float: right;
        box-sizing: border-box;
        margin-right: 35%;
      }
      @media #{$large-up} { 
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        img.edit_icon:hover {
          opacity: 0.3;
        }
        button.delete_icon:hover {
          opacity: 0.3;
        }
      }
    }
    @media #{$large-up} { 
      #selected_photo {
          float: left;
          box-sizing: border-box;
          width: 65%;
          padding-left: 100px;
          margin-right: 0px;
          margin-bottom: 100px;
        }
        #sidebar {
          float: right;
          box-sizing: border-box;
          width: 35%;
          padding-right: 100px;
          margin-left: 0px;
          height: 550px;
          overflow: scroll;
        }
      }
    // newphoto.jade/edit.jade
    form {
      color: #7E797F;
      display: block;
      button#save {
        background-color: #7E797F;
        height: 50px;
        &:hover {
          color: #7E797F;
          background-color: #FFFFFF;
          box-sizing: border-box;
          margin: 0 auto;
        }
      }
    }
  }
  
}