
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>

  
  
  


<div style="font-family:arial;font-weight:bold;color:#7f7f7f">
<div style="padding:24px 0 0 0;width:100%;text-align:center">
<table align="center" style="width:960px" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td style="font-size:24pt;width:625px;text-align:left;vertical-align:top">_ARCHITEKT</td>
    <td style="padding:0px;width:8px"></td>
    <td style="padding:0px;background-color:gray;width:1px"></td>
    <td style="padding:0px;width:8px"></td>
    <td style="font-size:9pt;text-align:left;vertical-align:top">Welcome to our online portfolio...</td>
  </tr>
  <tr>
    <td style="padding:24px 0 0 0;text-align:left" colspan="2">Mountain Hill Cabin Winter - <a href="http://www.fantasticnorway.no" target="_blank">www.fantasticnorway.no</a></td>
  </tr>
  <tr>
    <td style="text-align:left;vertical-align:top;width:625px"><img src="http://AT-MainImage.jpg">
    <div>This project is a winter cabin...</div>
  </td>
    <td style="padding:0px;width:8px"></td>
    <td style="padding:0px;width:1px"></td>
    <td style="padding:0px;width:8px"></td>
    <td align="left">
    <img src="http://AT-Detail-1.jpg"><br>
    <div style="padding:0 0 8px 0">Blah blah blah #1</div>
    <img src="http://AT-Detail-2.jpg"><br>
    <div style="padding:0 0 8px 0">Blah blah blah #2</div>
    <img src="http://AT-Detail-1.jpg"><br>
    <div style="padding:0 0 8px 0">Blah blah blah #3</div>
    </td>
  </tr>
</table>
</div>

</div></body></html>