doctype html
//- 
head
  link(rel="stylesheet", type="text/css", href="/css/styles.css")
  meta(charset="UTF-8")
  title Express Gallery
body
  .header 
    .row
      .large-9.small-6.columns
        a(href="/")
          h1.logo _architekt
      .large-3.small-3.columns    
        a(href="/new_photo")
          img.add_icon(src="/layout/svg/add.svg")
        div 
          a(href="/logout")
            button#save(type="button") Logout   
        p.show-for-large-up Lorem ipsum dolor sit amet, consectetur adipiscing elit.      
  #content.clearfix
    #featured_photo
      .row
        .large-12.columns
          for image in header
            .img_wrapper
              a(href="/gallery/"+image.id)
                img.view_img(src=image.url)
                p.view_text view
    .thumbnail_photos

      for rows in content
        .row
          for image in rows            
            .large-4.columns
              .img_wrapper
                a(href="/gallery/"+image.id)
                  img.view_img(src=image.url) 
                  p.view_text view
                p.img_info= image.title
                p.img_info= image.author           
  #footer
  script(src='/js/jquery.js')
