doctype html
head
  link(rel="stylesheet", type="text/css", href="/css/styles.css")
  meta(charset="UTF-8")
  title Express Gallery
body
  .header
    h1.logo 
      | _architekt
  #content
    #single.clearfix
      .row
        for image in images
          .large-12.columns
            .img_wrapper
              a(href="/gallery/"+image.id)
                img(src=image.url)
                p.view_text view  
          //- .large-12.columns
            p= image.description
            a(href="/gallery/"+image.id+"/edit") Edit 
            form(action='/gallery/'+image.id+'?_method=DELETE',method='POST')
              button(type="submit") Delete


  a(href="/new_photo") Add New

  #footer
  script(src='/js/jquery.js')