doctype html
head
  link(rel="stylesheet", type="text/css", href="/css/style.css")
  meta(charset="UTF-8")
  title Express Gallery
    body
      #header
      #content
        #single.clearfix
          .row
            .large-12.columns
              img(src='http://placehold.it/350x150')
            .large-12.columns
              p
        #three.clearfix
          .row
            .large-12.columns
              img(src='http://placehold.it/350x150')
            .large-12.columns
              img(src='http://placehold.it/350x150')
            .large-12.columns
              img(src='http://placehold.it/350x150')
      #footer
      script(src='/js/client.js')
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")