doctype html
head
  link(rel="stylesheet", type="text/css", href="/css/styles.css")
  meta(charset="UTF-8")
  title Express Gallery
body
  .header 
    a(href="/")
      h1.logo _architekt
    a(href="/new_photo")
      img.add_icon(src="/layout/svg/add.svg")
  #content
    #single.clearfix
      .row
        for image in images
          .large-12.columns
            .img_wrapper
              a(href="/gallery/"+image.id)
                img.view_img(src=image.url)
                p.view_text view  
            p.img_info= image.author
          //- .large-4.columns
          //-    a(href="/gallery/"+image.id)
          //-       img(src=image.url) 
          //-       p view   


  //- a(href="/new_photo") Add New

  #footer
  script(src='/js/jquery.js')