doctype html
html(lang="en")
head
  link(rel="stylesheet", type="text/css", href="/css/styles.css")
  meta(charset="UTF-8")
  title NewPhoto
body
  .header
    a(href="/")
      h1.logo _architekt
  #content    
    form(action="/gallery", method="post")
      label(for="POST-name") Photo Author
      input(id="POST-author", type="text", name="author", value="")
      label(for="POST-name") Photo Link
      input(id="POST-link", type="text", name="url", value="")
      label(for="POST-name") Photo Description
      input(id="POST-description", type="text", name="description", value="")
      button.buttons(type="submit") Save to gallery