doctype html
head
  link(rel="stylesheet", type="text/css", href="/css/styles.css")
  meta(charset="UTF-8")
  title registration Page
body
  .header
    a(href="/")
      h1.logo _architekt
  #content      
    form(action="/registration", method="post")
      label Username:
      input(type="text", name="username")
  
      label Password:
      input(type="password", name="password")
      button(type="submit", value="Register") Register

