doctype html
head
  link(rel="stylesheet", type="text/css", href="/css/styles.css")
  meta(charset="UTF-8")
  title Express Gallery
body
  //- =image.author
  //- =image.url
  //- =image.description
  .header
    h1.logo
      | _architekt
  #content
    #single.clearfix
      .row
        .large-12.columns
          img(src=image.url)
        .large-12.columns
          p= image.description

    #triple.clearfix
      .row
        for image in sidebarimages
          .large-12.columns
            img(src=image.url)
            p= image.description

  a.button(href="/new_photo") Add a new photo!
  #footer
  script(src='/js/jquery.js')
