doctype html
head
  link(rel="stylesheet", type="text/css", href="/css/styles.css")
  meta(charset="UTF-8")
  title Express Gallery
body
  //- =image.author
  //- =image.url
  //- =image.description
  .header
    h1.logo _architekt
    a(href="/new_photo")
      img.add_icon(src="/layout/svg/add.svg")  
  #content
    #single.clearfix
      .row
        .large-12.columns
          .img_wrapper
            img(src=image.url)
          .img_options
            a(href="/gallery/"+image.id+"/edit")
              img.edit_icon(src="/layout/svg/edit.svg")  
          p= image.description

    #triple.clearfix
      .row
        for image in sidebarimages
          .large-12.columns
            .img_wrapper
              img(src=image.url)
              p= image.description

  #footer
  script(src='/js/jquery.js')
